* {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 box-sizing: border-box;
}
body, html {
    height: 100vh;
}
.wrapper {
    background: #C6FFDD; 
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
    height: 100vh;
}
.wrapper  h1 {
    font-size: 70px;
    font-weight: 900;
    padding: 40px 30px;
    margin-bottom: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
    text-shadow: 0 10px 20px tomato;
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.challenge {
    position: relative;
    margin: 20px 15px;
    width: 400px;
    height: 300px;
    background-color: black;
    color: white;
    overflow: hidden;
}
.challenge img, .challenge .text {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
}
.challenge img {
    top:0;
    left:0;
    
}
.challenge:hover img { 
    top:0;
    left: -100%;
}
.challenge .text {
    background: black;
    top:0;
    left: 100%;
}
.challenge:hover .text {
    top: 0;
    left: 0;
}
.text h2 {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}
.text p {
    text-align: left;
    padding: 10px;
    margin: 5px 5%;
}

