/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 34, 34);
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: transparent;
  min-height: 40px;
  padding: 20px 10px 10px;
  position: absolute;
  text-align: center;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
    font-size: larger;
    text-shadow: 0 5px 10px white;
    transition: transform .4s ease;
}
.nav .home {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}
.nav .name:hover { 
  transform: rotate(-10deg);
}
.nav li {
  padding: 5px 20px 10px 20px;
  transition: all .2s ease;
}
.nav li:hover {
  transform: translateY(-3px);
  text-shadow: 0 2px 5px lightcoral;
}
.nav li:active {
  transform: translateY(-1px);
  text-shadow: 0 1px 2px lightcoral;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: linear-gradient(to top, rgba(126, 123, 123, 0.452), transparent),url('../images/seoul.jpg') no-repeat top center ;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding-top: 60px;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 150px;
  margin-bottom: 30px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s ease;
  position: relative;
}
header .profile-image:hover { 
  transform: scale(1.2) rotate(5deg);
} 
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 20px auto;
}

.location {
  background-color: transparent;
  color: white;
}
.year {
  position: absolute;
  bottom: 35%;
  left: 5%;
  font-size: 80px;
  font-weight: 500;
  color: #ddd;
  text-shadow: 0 5px 25px pink;
  animation: moveInLeft 1.5s ease-in-out 1.5s;
  animation-fill-mode: backwards;
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  70% {
    transform: translateZ(7px);
    opacity: 1;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
.first-text {
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 80px;
  font-weight: 500;
  color: #ddd;
  text-shadow: 0 5px 25px pink;
  animation: moveInLeft 1.5s ease-in-out 1s;
  animation-fill-mode: backwards;
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  70% {
    transform: translateZ(7px);
    opacity: 1;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
.adventure {
  position: absolute;
  top: 17%;
  left: 5%;
  font-size: 80px;
  font-weight: 500;
  color: #ddd;
  text-shadow: 0 5px 25px pink;
  animation: moveInLeft 1.5s ease-in-out 1.2s;
  animation-fill-mode: backwards;
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  70% {
    transform: translateZ(7px);
    opacity: 1;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card img {
  max-width: 100%;
}
.card:hover {
  border-color: rgba(230, 12, 157, 0.37);
  box-shadow: 0 10px 20px #000;
} 

.middle-image {
  width: 90%;
  height: 60vh;
  margin: auto;
  background: url("../images/landscape.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transform: skew(-5deg);
}

.content {
  height: 50vh;
  background-image: linear-gradient(to right, rgb(220, 223, 231), rgb(70, 110, 218));
  margin-top: 60px;
  margin-bottom: 80px;
}
.content h1 {
  padding: 40px;
}
.skill-box {
  display: flex;
  justify-content: center;
}
.skill {
  position: relative;
  width: 200px;
  height: 160px;
  margin: 0 30px;
  border-radius: 10px;
}
i {
  width: 100%;
}
.icon1 {
  color: red;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100;
  transition: all .5s ease;
  opacity: 0;

}
.text span {
  display: block;
  margin: 62px auto;
  font-size: 25px;
  color: white;

}
.skill:hover .text {
  width: 100%;
  height: 100%;
  bottom:0;
  background:rgba(0, 0, 0, 0.479);
  z-index: 10;
  border-radius: 10px;
  opacity: 1;
}
.icon2 {
  color: blue;
  width:100%;
}
.icon3 {
  color: rgb(207, 207, 68);
  flex-basis:100%;
}




footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  /* background-color: rgba(228, 222, 222, 0.301) */
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(../images/github.svg);
  
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

